nav {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  font-style: italic;
  align-items: center;
  justify-content: space-around;
  background-color: #287d97;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
}
.navbar > ul {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3em;
}
ul > li a {
  color: #ffffff;
  text-decoration: none;
}

ul > li a:hover {
  color: #ffcc00;
}

ul > li:hover {
  cursor: pointer;
  color: #ffcc00;
}
