* {
  font-family: "Courier New", Courier, monospace;
}
.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 87vh;
  gap: 3em;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: beige;
  border: 1px solid #000;
}
.home-content {
  width: 50%;
  height: auto;
  font-size: 20px;
}
.home-content > form {
  text-align: center;
}
form > label {
  color: #000000;
  font-size: 25px;
}
form > button {
  box-shadow: 0px 0px 5px 5px rgb(114, 114, 114);
  border-radius: 5px;
  font-size: large;
  border: none;
}
form > button:hover {
  background-color: rgb(240, 187, 13);
  color: rgb(255, 255, 255);
}
.table {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}
table {
  border-collapse: collapse;
  width: 100%;
  padding: 20em;
}
.table {
  background-color: beige;
  height: 87vh;
  border: 1px solid #000;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  font-size: larger;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
footer {
  margin-top: 13em;
  text-align: center;
}
